.auth-section {
    padding-top: 120px;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #303030;

    overflow: hidden;
}
.auth-section .auth-form {
    margin-top: 30px;
}
.auth-section .auth-form mat-card-content {
    padding-top: 15px;

    width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.auth-section .auth-form mat-card-content mat-form-field {
    width: 100%;
}
